body {
    background-color: rgb(53,56,57);
}
#canvas {
    background-color: rgb(119,136,153);
    width: 80%;
    margin: 0 auto;
    position: relative;  
}
#canvas.portrait {
    background-image: url(BG_battle.png);
    background-size: cover
}
#manual {
    width:100%;
    border: 5px solid gold;
    border-radius: 10px;
    margin-top: 20px;
    background-image: url(symbol.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(35,43,43);
    color: white;
    padding-left: 8px
}
h1 {
    text-align: center;
}
h4 {
    font-weight: 500;
    margin: 10px;
}
#text {
    background-color: rgba(152,152,152,85%);
    width: 45%;
    min-height: 70px;
    border: 1px solid black;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    transform: translate(5%);
}
#canvas.btn {
    height: auto;
    padding-bottom: 20px
}
#playerPortrait {
    width: 25%;
    height: 95%;
    transform: translate(10px,10px);
    display: inline-block;

}
#playerPortrait.normal {
    content: url(Ike.png);
}
#playerPortrait.dmg {
    content: url(Ikedmg.png);
}
#playerPortrait.strike {
    content: url(Ikeatk.png);
}
#playerPortrait.special {
    content: url(Ikespc.png);
}
#compPortrait {
    width: 25%;
    height: 95%;
    float: right;
    transform: translate(-2px,10px);
}
#compPortrait.normal {
    content: url(BK.png);
}
#compPortrait.strike {
    content: url(BKatk.png);
}
#compPortrait.special {
    content: url(BKspc.png);
}
#compPortrait.dmg {
    content: url(BKdmg.png);
}
#playerHP {
	height: 30px;
	border: 2px solid black;
	border-radius: 3px;
	margin-right: 20px;
    display: inline-block;
    width: 25%;
    margin-left: 9px;
    margin-top: 15px;
}
#playerHPBar {
    background: rgb(106, 193, 124);
    height: 100%;     
}
#compHP {
	height: 30px;
	border: 2px solid black;
	border-radius: 3px;
	margin-right: 20px;
    width: 25%;
    margin-right: 9px;
    margin-top: 15px;
    float: right    
}
#compHPBar {
    background: rgb(106, 193, 124);
    height: 100%;      
}
button {
	background: #eee;
    display: inline-block;
    height: 7%;
    position: flex;  
    margin-left: 15px;
    margin-top: 5px;
    min-width: 7%
}
button.restart {
    transform: translate(-8px)
}